@(message: String, producerUrl: String, consumerUrl: String)

@main("HyperQueue!") {
    @*Lets just keep the urls in hidden inputs DUH! *@
    @*TODO: Do it normally, for the love of god*@
    <input type="hidden" id="socketUrl" value="@producerUrl">
    <input type="hidden" id="socketUrl" value="@consumerUrl">

    <h1>Welcome</h1>
    <div class = "consumer-form">
        <h2>Consumer</h2>
        <div class = "form-row">
            <input type="text" id = "topic-consumer" name="topic-consumer" placeholder="Topic">
            <button type="button" id = "consume-button">Submit</button>
        </div>
    </div>
    <div class = "producer-form">
        <h2>Producer</h2>
        <div class = "form-row">
            <input type="text" name="topic-producer" id="topic-producer"   placeholder="Topic">
            <input type="text" name="event-name" id="event-name" placeholder="Event name">
            <input type="text" name="event-description"  id="event-description"placeholder="Event description">
            <button type="button" id = "produce-button">Submit</button>
        </div>
    </div>
    <div class = "feedback">Here goes feedback...</div>
}
